.wrapper-header {
  width: 100%;
  min-width: 334px;
  margin: 0 auto;
  background-color: hsl(13, 100%, 72%);
  padding: 50px 0;
  height: 50vh;
  text-align: center;
}

.wrapper-header h1,
h3 {
  color: white;
  padding: 10px 0;
}

h3 {
  font-family: "Overpass", sans-serif;
}

.btn-1,
.btn-2 {
  margin: 10px 10px;
  padding: 5px;
  border-radius: 15px;
  background-color: hsl(356, 100%, 66%);
  color: white;
}

.btn-1:hover,
.btn-2:hover {
  cursor: pointer;
  background-color: hsl(355, 100%, 74%);
}
